* {
    font-family: 'Lobster Two', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #66666A;
}

header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

img {
    width: 50%;
}

aside ul li {
    list-style: none;
    color: #66666A;
    margin-top: 30px;
    width: 20%;
    text-align: center;
}

section {
    width: 70%;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.content {
    width: 90%;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #66666A;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

footer img {
    width: 15%;
    margin: 0 5px;
}

footer img:first-child {
    display: flex;
    align-self: flex-start;
}

.icons {
    display: flex;
}

section {
    width: 80%;
}

section img {
    border-radius: 1em;
}

h2 {
    color: #66666A;
}

.card {
    border: 1px solid #929FAF;
    border-radius: 1em;
    text-align: center;
    padding: 20px;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.first-row .card:first-child {
    width: 65%;
}

.first-row .card:first-child img {
    width: 70%;
    height: 250px;
}

.first-row .card:last-child {
    width: 30%;
}

.first-row .card:last-child img {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.second-row {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}

.second-row .card {
    width: 32%;
}

.second-row img {
    width: 80%;
    
}

p {
    color: #66666A;
}



